.Button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    line-height: normal;
    font-size: 1rem;
    margin: 10px;
    padding: 0.4375rem 1.0625rem;
    font-weight: 400;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed
}

.Success {
    color: #5C9210;
}

.Danger {
    background: var(--main-red);
    border-radius: 0.1875rem;
}

.Danger:hover {
    background: var(--main-red-hover);
    outline: none;
}