.PlayersSelectionContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.PlayersSelection {
    grid-column: 1 / 8;
    padding-left: 2rem;
    height: 100%;
    width: 100%;
}

.TeamPlayers {
    grid-column: 9 / 12;
    padding-right: 2rem;
    height: 100%;
    width: 100%;
}

.ResumeInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}

.Budget {
    padding: 1rem;
    text-align: center;
}

span {
    font-weight: bold;
}

.RemainingBudget {
    color: #5C9210;
}

.WastedBudget {
    color: #944317;
    padding-left: 2rem;
}